.time_location_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0 ;
    align-items: center;
    gap: 1rem;

}

.time {
    color: white;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 200;
}

.city {
    color: white;
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
}

@media only screen and (max-width: 667px) {
    .time_location_container {
        gap: 0.5rem;
    }

    .time {
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-align: center;
    }

    .city {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

