
.app {
    width: 100%;
    max-width: 430px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 3.5rem;
    box-shadow: 10px 10px 5px #413e3d;
    border-radius: 10%;
    margin: 80px auto;
  }

  @media only screen and (max-width: 666px) {
    .app {
      max-width: 300px;
      height: auto;
      padding: 1.5rem;
      border-radius: 30px;
      margin: 40px auto;
    }
  }

 

